
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
background-color: rgb(255, 255, 255);
}

.main__wrapper {
    min-width: 900px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title__action-block {
}
.app__wrapper {
}
.action__block {
}
.input__action-block {
}
.action__action-btn {
}
.settings__block {
}
.title__settings-block {
}
.information__settings {
}
.length__settings {
}
.bonus__settings {
}
.list__settings {
}
.checkbox {
}
.about__block {
}
.about__title {
}
.about__article {
}
